<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
	<meta charset="UTF-8">
	<style>
        ul {
            list-style-type: none; /* Remove bullet points */
        }
    </style>
	<body>
		<div layout:fragment="content">
			<!--<img th:src="@{/images/dogblog2.jpg}" class="img-fluid rounded"/><br/><br/>-->
			<h1 th:text="${message}">This is my default text</h1><br/>
			<img th:src="@{/images/dogblog2.jpg}" class="img-fluid rounded"/><br/><br/>
			
			<ul>
				<li th:if="${blogsDomain.empty}">
					<span style="text-align:center" colspan="4">No Blogs Available</span>
				</li>
					
				<li th:each="blog : ${blogsDomain}">
					<b><span style="font-size: 20px;" th:text="${blog.title}"></span></b></br>
					<i><span style="font-size: 17px;" th:text="${blog.subtitle}"></span></i></br>
					<span style="font-size: 14px;" th:text="${blog.content}"></span></br>
					<span style="font-size: 12px;" th:text="${blog.author}"></span></br>
					<span style="font-size: 12px;" th:text="${blog.date}"></span></br>
					</br>
					<a class="btn btn-secondary" style="color:#ECBA82; background-color:#297045; border-color:#297045" th:href="@{'update/' + ${blog.getId()}}">Update</a>
					<a class="btn btn-secondary" style="color:#ECBA82; background-color:#297045; border-color:#297045" th:href="@{'delete/' + ${blog.getId()}}">Delete</a> <!-- btn btn-secondary -->
					</br>
					<span> </span></br>
				</li>
			</ul>
		</div>
	</body>
</html>