<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
	
	
  <body>
  
 <div layout:fragment="content">
  
    <main>
    
       <h2 th:text="${message}">This is my default text</h2> <br/>
       
       <form action="#" th:action="@{doLogin}" th:object="${loginModel}" method="post">
			<table>
				<tr> 
					<td>User Name:</td><td><input type="text" th:field="*{username}" ></td><td><h5 style="color:BF2237" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">User Name Error</h5></td>
				</tr>
				<tr>
					<td>Password:</td><td><input type="password" th:field="*{password}" ></td><td><h5 style="color:BF2237" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</h5></td>
				</tr>	
				<tr>
					<td colspan="2"><input type="submit" value="Submit" / style="margin-left: 50%"></td>
				</tr> 
			</table>
			<div th:if="${#fields.hasErrors('*')}">List of Errors</div>
			<div th:each="err : ${#fields.errors('*')}">
				<span style="color:#BF2237" th:text="${err}" class="fieldError"></span>
			</div>
		</form>
		<a href="signUp">Dont have an account? Sign Up</a>
       
    </main>
	<script src="index.js"></script>
	</div>
  </body>
</html>