<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

  <head>
    <meta charset="UTF-8">

    <title>HEllo</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
    
       <h2 th:text="${message}">This is my default text</h2> <br/>
       
       <form action="#" th:action="@{doLogin}" th:object="${loginModel}" method="post">
			<table>
				<tr> 
					<td>User Name:</td><td><input type="text" th:field="*{username}" ></td><td><h5 style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">User Name Error</h5></td>
				</tr>
				<tr>
					<td>Password:</td><td><input type="password" th:field="*{password}" ></td><td><h5 style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</h5></td>
				</tr>	
				<tr>
					<td colspan="2"><input type="submit" value="Submit" /></td>
				</tr> 
			</table>
			<div th:if="${#fields.hasErrors('*')}">List of Errors</div>
			<div th:each="err : ${#fields.errors('*')}">
				<span style="color:red" th:text="${err}" class="fieldError"></span>
			</div>
		</form>

       
    </main>
	<script src="index.js"></script>
  </body>
</html>