<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<div th:fragment="header">
		<div class="bs-example">
			<nav class="navbar navbar-expand-lg navbar-light"  >
			  <div class="container-fluid">
			    <a class="navbar-brand" href="/">Blogs</a>
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarSupportedContent"style="justify-content:flex-end;">
			      <ul class="navbar-nav ml-auto mb-2 mb-lg-0" >
			        <li class="nav-item">
			          <a class="nav-link" href="login">Login/Sign Up</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="blog">Create Blog</a>
			        </li>
			       
			      </ul>
			      
			    </div>
			  </div>
			</nav>
		</div>
		
		<!-- Page Title and Log -->
		<h2 th:text="${title}">Default Message Text</h2><br/>
	</div>
	
	<!-- Common Footer Fragment -->
	<div th:fragment="footer"
		><h5 style="color:green; text-align: center;position: fixed;bottom: 0;width: 100%;">Copyright 2023 Maya Jesse Emmanuel</h5>
	</div>
</html>